.App {
  text-align: center;
}

.container_productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  background-color: green;
  color: white;
  display: flex; 
  justify-content: space-between;
}
.info_contacto, .carrito{
  margin: 35px;
}

.App h1, .App .carrito{
  margin-top: 60px;
}

.App .carrito{
  margin-right: 80px;
  margin-top: 80px;
}

.links_info{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.links_info a{
  margin-top: 20px;
  padding: 10px;
  color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.links_info a:hover{
  background-color: green;
  color:white;
}