.App {
  text-align: center;
}

.info_contacto h3, .nombre_Marca h3{
  color:black;
}

.App .productos{
  color:green;
  margin-top: 50px;
}


.container_productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.App h1, .App .carrito{
  margin-top: 60px;
}

.App .carrito{
  margin-right: 80px;
  margin-top: 80px;
}

.links_info{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.links_info a{
  margin-top: 20px;
  padding: 10px;
  color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.links_info a:hover{
  background-color: green;
  color:white;
}



h3{
  color:green
}



.div_carrito {
  display: flex; /* Utilizamos display:flex en el contenedor */
}

.div_carrito:hover{
  cursor: pointer;
}


.carrito_compras{
  height: 30px;
  width: 30px;
  align-self: center;
}
